.profile__info-name {
  margin: 0;
  max-width: 294px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .profile__info-name {
    text-align: center;
  }
}@media screen and (max-width: 768px) {
  .profile__info-name {
    max-width: 282px;
    font-size: 27px;
    line-height: 33px;
  }
}